<ion-list>

  <div *ngIf="imagesVOs.length>0">
    <ion-item *ngFor="let item of imagesVOs" (click)="play(item)">
        
        <ion-grid>
            <ion-row>
                <ion-col size="4">
                <div>
                    <ion-avatar>
                        <img [src]='item.localUrl2Show'>  
                    </ion-avatar>
                </div>
              </ion-col>
              <ion-col>
                    <app-score-counter [itemScore]="item.counter"></app-score-counter>      
              </ion-col>              
              
            </ion-row>
          </ion-grid>

    </ion-item>
  </div>

</ion-list>