

ion-icon { 
    zoom: 1.5; 
 }

 ion-toolbar {
    border-bottom-style: solid; 
    border-bottom-color: #3880ff;
 }

 ion-buttons {
    margin-bottom: 10%;
 }

 .menu {
    border-bottom-color: darkblue; 
    height: 4%;
 }